.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  transition: all 0.1s ease;
}

.body-card {
  position: relative;
}

.status {
 margin-top: 5px;
 z-index: -15;
}

.loaderTodos {
  margin: 50px;
}


